.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48vw;
  height: 8vh;
  padding: 0 2rem;
  margin: 0 auto;
  border-bottom: 1px solid #E5E5E5;

  &__logo {
    min-width: 18rem;
    color: #EE7934;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 800;
    text-decoration: none;
  }
}