.search-bar {
  padding: 0 2rem;
  border: 0;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  background-color: #E5E5E5;
  outline: none;

  &--large {
    height: 3.5rem;
    width: 40vw;
    min-width: 40vw;
  }

  &--small {
    height: 2.5rem;
    width: 30vw;
    min-width: 30vw;
  }
}
