<div class="container">
  <div class="header-bar">
    <div class="header-bar__logo">Dom Look Up!</div>
    <input class="header-bar__search-bar" type="text"/>
  </div>
  <div class="details">
    <section class="details__section details__section--meta-tag">
      <h1 class="details__section__title">meta tag</h1>
      <div class="details__section__card card">
        <ul>
          <li class="card__item">
            <h3 class="card__item__name">title</h3>
            <p class="card__item__value">Dom look up!</p>
          </li>
          <li class="card__item_">
            <h3 class="card__item__name">title</h3>
            <p class="card__item__value">Dom look up!</p>
          </li>
          <li class="card__item_">
            <h3 class="card__item__name">title</h3>
            <p class="card__item__value">Dom look up!</p>
          </li>
          <li class="card__item_">
            <h3 class="card__item__name">title</h3>
            <p class="card__item__value">Dom look up!</p>
          </li>
          <li class="card__item_">
            <h3 class="card__item__name">title</h3>
            <p class="card__item__value">Dom look up!</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="details__section details__section--dom-tree">
      <h1 class="details__section__title">DOM tree</h1>
      <div class="details__section__card card">
        <h2 class="card__title">&lt;body&gt;</h2>
        <ul>
          <li class="card__item">
            <h3 class="card__item__name">title</h3>
            <p class="card__item__value">Dom look up!</p>
          </li>
          <li class="card__item">
            <h3 class="card__item__name">title</h3>
            <p class="card__item__value">Dom look up!</p>
          </li>
          <li class="card__item">
            <h3 class="card__item__name">title</h3>
            <p class="card__item__value">Dom look up!</p>
          </li>
          <li class="card__item">
            <h3 class="card__item__name">title</h3>
            <p class="card__item__value">Dom look up!</p>
          </li>
          <li class="card__item">
            <h3 class="card__item__name">title</h3>
            <p class="card__item__value">Dom look up!</p>
          </li>
          <li class="card__item">
            <h3 class="card__item__name">children</h3>
            <section class="card card--node">
              <h2>&lt;body&gt;</h2>
              <ul>
                <li class="card__item__info">
                  <h3 class="card__item__name">title</h3>
                  <p class="card__item__value">Dom look up!</p>
                </li>
                <li class="card__item__info">
                  <h3 class="card__item__name">title</h3>
                  <p class="card__item__value">Dom look up!</p>
                </li>
                <li class="card__item__info">
                  <h3 class="card__item__name">children</h3>
                  <section class="card card--node">
                    <h2>&lt;body&gt;</h2>
                    <ul>
                      <li class="card__item__info">
                        <h3 class="card__item__name">title</h3>
                        <p class="card__item__value">Dom look up!</p>
                      </li>
                      <li class="card__item__info">
                        <h3 class="card__item__name">title</h3>
                        <p class="card__item__value">Dom look up!</p>
                      </li>
                      <li class="card__item__info">
                        <h3 class="card__item__name">children</h3>
                        <section class="card card--node">
                          <h2>&lt;body&gt;</h2>
                          <ul>
                            <li class="card__item__info">
                              <h3 class="card__item__name">title</h3>
                              <p class="card__item__value">Dom look up!</p>
                            </li>
                            <li class="card__item__info">
                              <h3 class="card__item__name">title</h3>
                              <p class="card__item__value">Dom look up!</p>
                            </li>
                            <li class="card__item__info">
                              <h3 class="card__item__name">children</h3>
                              <section class="card card--node">
                                <h2>&lt;body&gt;</h2>
                                <ul>
                                  <li class="card__item__info">
                                    <h3 class="card__item__name">title</h3>
                                    <p class="card__item__value">Dom look up!</p>
                                  </li>
                                  <li class="card__item__info">
                                    <h3 class="card__item__name">title</h3>
                                    <p class="card__item__value">Dom look up!</p>
                                  </li>
                                </ul>
                              </section>
                            </li>
                          </ul>
                        </section>
                      </li>
                    </ul>
                  </section>
                </li>
              </ul>
            </section>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
