<div *ngIf="error" class="error">
  <p>{{ error }}</p>
  <button (click)="handleNavigateHome()">Go to home</button>
</div>

<div class="container">
  <app-header></app-header>

  <div class="details">

    <section class="details__section">
      <h1 class="details__section__title">Meta tags</h1>
      <app-card-meta
        *ngIf="!!meta"
        [meta]="meta!"
        class="details__section__card details__section__card--meta-tag"
      ></app-card-meta>
      <div
        *ngIf="!meta"
        class="details__section__card details__section__card--meta-tag details__section__card--null"
      ></div>
    </section>

    <section class="details__section">
      <h1 class="details__section__title">DOM tree</h1>
      <app-card-tree
        *ngIf="!!data"
        [node]="data!"
        class="details__section__card details__section__card--dom-tree"
      ></app-card-tree>
      <div
        *ngIf="!data"
        class="details__section__card details__section__card--dom-tree details__section__card--null"
      ></div>
    </section>

  </div>
</div>
